/* Contact Us Page CSS */
/* I had some obstacles figuring out how to make the placehoder font white.  This is what I found. */
/* For WebKit browsers like Chrome and Safari */
.contact-form input[type="text"]::placeholder,
.contact-form textarea::placeholder {
  color: white;
  opacity: 1; /* Optional, to make it fully opaque */
}

/* For Firefox */
.contact-form input[type="text"]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  color: white;
  opacity: 1;
}

/* For Internet Explorer */
.contact-form input[type="text"]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: white;
}


.contact-page {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  
  .contact-form {
    background-color: white;
    padding: 40px 20px 100px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 50vh;  /* Adjust the height here */
  }
  
  .contact-form h1 {
    text-align: center;
    color: black;
  }
  
  .contact-form input[type="text"],
.contact-form textarea {
  display: block;
  width: 33%;
  padding: 10px;
  margin: 10px auto;  /* Center the input fields */
  background-color: #B4B4B4;
  color: white;
  border: none;
  border-radius: 5px;
}

  
  .contact-form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;  /* Center the button */
    display: block;  /* Make it a block-level element */
  }