.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
  }
  
  .title {
    color: #3A4895;
    ;
  }
  
  
  /*.categories {
    Styling for category links
  }*/
  